.kg_blue {background-color: deepskyblue;}
.kg_green {background-color: greenyellow;}
.kg_red {background-color: darkred;}
.kg_indigo {background-color: indigo;}
.kg_violet{background-color: violet;}
.kg_yellow{background-color: yellowgreen;}
.kg_purple{background-color: purple;}
.kg_orange{background-color: orangered;}
.kg_pink{background-color: deeppink;}
.kg_cyan{background-color: cyan;}
.kg_gold{background-color: gold;}
.kg_wheat{background-color: wheat}


body{background-color: #bce8f1;}

.kg_min-height{
  min-height: 80px;
  margin:15px 0;
}

.cb{clear: both;}




.kg_panel-greenblue {
  border-color: #58a00a;
}
.kg_panel-greenblue > .panel-heading {
  color: #fff;
  background-color: #58a00a;
  border-color: #58a00a;
}
.kg_panel-greenblue > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #58a00a;
}
.kg_panel-greenblue > .panel-heading .badge {
  color: #58a00a;
  background-color: #fff;
}
.kg_panel-greenblue > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #58a00a;
}





.glyphicon-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.glyphicon-2x {
  font-size: 2em;
}
.glyphicon-3x {
  font-size: 3em;
}
.glyphicon-4x {
  font-size: 4em;
}
.glyphicon-5x {
  font-size: 5em;
}
.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}
.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8);
}
@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.fa-rotate-90 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.fa-rotate-180 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.fa-rotate-270 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.fa-flip-horizontal {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.fa-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}
:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  filter: none;
}
